{% layout "layout.liquid" %} {% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AvatarVerse</title>

    <style type="text/css">
        body {
            background-color: red;
            color: rgb(215, 247, 236);
            text-align: left;
            font-size: 18;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-items: center;
        }
    </style>
</head>

<body>
    <div id="bannerDiv">
        <h1>Elements</h1>
    </div>
    <div class="button">
        <a href="/avatarverse"><button>Back to main page</button></a><br>
        <a href="/avatarverse/user/logout"><button>Logout</button></a>
    </div>

    <br>
    <br>
    <div class="container">
        {%for element in elements%}
        <div class="elementImg">
            <h3>{{element.name}}</h3>
            <a href="/avatarverse/elements/{{ element._id }}">
                <img src="{{element.image}}" width="200" height="200">
            </a>
            <br>
            <br>
        </div>
        {%endfor%}
    </div>
</body>

{% endblock %}