<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the AvatarVerse!</title>

    <style type="text/css">
        body {
            background-color: red;
            color: rgb(215, 247, 236);
            text-align: left;
            font-size: 18;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-items: center;
        }
    </style>
</head>

<body>
    <div id="bannerDiv">
        <h1>Welcome to the AvatarVerse!!</h1>
        <h2>A hub for all things Avatar: The Last Airbender and Legend of Korra!</h2>
    </div>

    <br>
    <br>
    <div class="container">
        <a href="/avatars/">Past 10 Avatars</a>
        <a href="/elements/">Elements</a>
        <a href="/login/">Sign up and Create Your Own Avatar</a>


        <!-- 
            INSERT GIF OF "avatar airbender episode intro gif"
            -->
    </div>
</body>

</html>