{% layout "../views/layout.liquid" %} {% block content %}
    <div>
        <a href="/login/signup"><button>Signup</button></a>
        <a href="/login/login"><button>Login</button></a>
    </div>
{% endblock %}