{% layout "layout.liquid" %}
{% block content %}
<header>
    <div class="bannerDiv">
        <img src="https://i.ibb.co/dWwnQzf/avatarverse.jpg" alt="avatarverse" border="0" width="600" height="175">
        <h1>Welcome to the AvatarVerse!!</h1>
        <h2>A hub for all things Avatar: The Last Airbender and Legend of Korra!
        </h2>
        </div>
</header>
<div>
    <form action="/user/login" method="post">
        <fieldset>
            <legend>User Login</legend>
            <label>USERNAME:
                <input type="text" name="username" required />
            </label>
            <label>PASSWORD:
                <input type="password" name="password" required />
            </label>
            <input type="submit" value="Login" />
        </fieldset>
    </form>
</div>
{% endblock %}